# Starting Python

In [ ]:
#@title input() & print() fucnction
user_name = input("Enter your name: ") 
print("hello :) "+user_name)
user_age = input("Enter your age: ") 
print("your age is : "+user_age)

# input function always store strings 
type(user_age)

Enter your name: hi
hello :) hi
Enter your age: 30
your age is : 30

str

# Data types
* int() \
* float() \
* str() \
* list[] \
* tuple() \
* dict{}

In [ ]:
#integer
A = 10
print("print integr A: ", A)
#float
pi = 3.14
print("print float pi: ", pi)
#string
my_name = "Amr Abdelfattah"
print("print string my_name: ", my_name)
# List
List1 = ['Amr',36,-10,0.8]
print("print List List1: ", List1)
#Tuple
Tuple1 = tuple(List1)
print("print Tuple Tuple1 ", Tuple1)
#dictionary
my_dict = {1: 'python', 2: 'data', 3: 'science'} 
print("Dictionary with the use of Integer Keys: ") 
print(my_dict)

#Dictionary Operations:

* Dictionary holds a pair of values, one being the Key and the other is the value **{key : Value }**
* Values in a dictionary can be of **any datatype** and can be **duplicated**, whereas **keys canâ€™t be repeated**

In [ ]:
keys=my_dict.keys()
print('my dict keys are keys = ',keys)
# acees dict valuse
values=my_dict.values()
print('my dict values are keys = ',values)
print("==============================================================")
print('my dict Keys type = ',type(keys))
print('my dict values type = ',type(values))

my dict keys are keys =  dict_keys([1, 2, 3])
my dict values are keys =  dict_values(['python', 'data', 'science'])
==============================================================
my dict Keys type =  <class 'dict_keys'>
my dict values type =  <class 'dict_values'>

In [ ]:
#@title 1- access element at with keys
# use square prackets [] and inside it put key you want to get value
print(my_dict[1]) # will print 'python' value at key '1'
print(my_dict[2])
print(my_dict[3])
# we can also overwrite key values
my_dict[3]=-500
print(my_dict)

python
data
science
{1: 'python', 2: 'data', 3: -500}

In [ ]:
#@title 2- add new elements to a dictionary
# you must specify the key 
my_dict[4]='hello'
print(my_dict)

{1: 'python', 2: 'data', 3: -500, 4: 'hello'}

In [ ]:
#@title 3- delete elements from dictionary
my_dict.pop(2)
print(my_dict)

{1: 'python', 3: -500, 4: 'hello'}

# List Operations:
* changable
* editable
* can contain same or mix objects
* used in iterations

In [ ]:
#@title 1- Creating a List with 
# the use of multiple values 
List = ["python", 100, 1.8] 

# we can apply len() function to get number of elements in the list
print(len(List))

3

In [ ]:
#@title 2- Accessing a element using index number 
print("Accessing a element from the list") 
print(List[0]) 
print(List[2])

Accessing a element from the list
python
1.8

In [ ]:
#@title 3- Creating a Multi-Dimensional List 
# (By Nesting a list inside a List) 
List = [['hello', 'world'] , [100,-100]] 

# accessing a element from the Multi-Dimensional List using index number 
print("Acessing a element from a Multi-Dimensional list") 
print(List[0][1]) 
print(List[1][0])

Acessing a element from a Multi-Dimensional list
world
100

In [ ]:
#@title 4- Add new element 
# in the List 
List.append(1) 
List.append(2) 
List.append(4) 
print("List after Addition of Three elements: ") 
print(List)

List after Addition of Three elements:
[['hello', 'world'], [100, -100], 1, 2, 4]

In [ ]:
# Addition of List to a List 
List2 = ['data', 'science'] 
List.append(List2) 
print("List after Addition of a List: ") 
print(List)

List after Addition of a List:
[['hello', 'world'], [100, -100], 1, 2, 4, ['data', 'science']]

In [ ]:
# Addition of Element at specific Position (using Insert Method) 
List.insert(6, 12) # at position 3 insert 
List.insert(0, 'hello') 
print("List after performing Insert Operation: ") 
print(List)

List after performing Insert Operation:
['hello', ['hello', 'world'], [100, -100], 1, 2, 4, ['data', 'science'], 12]

In [ ]:
# Addition of multiple elements to the List at the end (using Extend Method) 
List.extend([5, 'python', -0.8]) 
print("List after performing Extend Operation: ") 
print(List)

List after performing Extend Operation:
['hello', ['hello', 'world'], [100, -100], 1, 2, 4, ['data', 'science'], 12, 5, 'python', -0.8]

In [ ]:
#@title 5- Removing Elements
#using Remove() method 
List.remove(5) # item to be removed is 5
print("List after Removal of elements: ") 
print(List) 

# using iterator method 
list1 = [1,2,3,4,5,3,6,8,9,5,7,4,5,6,9,5,1,2,3]
for i in range(1, 5): 
    List1.remove(i) 
print("List after Removing a range of elements: ") 
print(List)

## pop() method
# pop() removes the item at a specific index and returns it.
List = [1,2,3,4,5] 

# Removing element from the 
# Set using the pop() method 
List.pop() # if no index is passed pop() will remove last element
print("List after popping an element: ") 
print(List) 

# Removing element at a 
# specific location from the 
# Set using the pop() method 
List.pop(2) # remove element ata index 2 
print("List after popping a specific element: ") 
print(List)

List after Removal of elements:
['hello', ['hello', 'world'], [100, -100], 1, 2, 4, ['data', 'science'], 12, 'python', -0.8]

ValueError: ignored

In [ ]:
#@title 6- List slicing
L = ['GR', 'DT', 'Rhob']
print(L[0]) 
print(L[1])
print(L[2])
print(L[-2])
print(L[2:])
print(L[1:])
print(L[0:])
print(L[3:])

# tuple Operations
* unchangable
* uneditable
* can contain mix of objects
* can not be used in iterations

In [ ]:
#@title 1- Creating a Tuple 
#with Mixed Datatype 
Tuple1 = (5, 'Welcome', 7, 'python') 
print("Tuple with Mixed Datatypes: ") 
print(Tuple1) 

#Creating a Tuple 
#with nested tuples 
Tuple1 = (0, 1, 2, 3) 
Tuple2 = ('python', 'geek') 
Tuple3 = (Tuple1, Tuple2) 
print("Tuple with nested tuples: ") 
print(Tuple3) 

#Creating a Tuple 
#with repetition 
Tuple1 = ('Geeks') * 3
print("Tuple with repetition: ") 
print(Tuple1)

In [ ]:
#@title 2- Accessing Tuple with Indexing 
Tuple1 = tuple("Geeks") 
print("First and last elements of Tuple: ") 
print(Tuple1[1],Tuple1[-1])

In [ ]:
#@title 3- Deleting a Tuple 

Tuple1 = (0, 1, 2, 3, 4) 
del Tuple1[0]
print(Tuple1)