## Arithmetic operators

In [ ]:
# Examples of Arithmetic Operator 
a = 9
b = 4

# Addition of numbers 
add = a + b 
# Subtraction of numbers 
sub = a - b 
# Multiplication of number 
mul = a * b 
# Division(float) of number 
div1 = a / b 
# Division(floor) of number 
div2 = a // b 
# Modulo of both number 
mod = a % b 

# print results 
print(add) 
print(sub) 
print(mul) 
print(div1) 
print(div2) 
print(mod)

13
5
36
2.25
2
1

## Relational Operators

In [ ]:
# Examples of Relational Operators 
a = 13
b = 33

# a > b is False 
print(a > b) 

# a < b is True 
print(a < b) 

# a == b is False 
print(a == b) 

# a != b is True 
print(a != b) 

# a >= b is False 
print(a >= b) 

# a <= b is True 
print(a <= b)

False
True
False
True
False
True

#Logical operators

In [13]:
# Examples of Logical Operator 
a = 9
b = 10
c = -10
   
if a > 0 and b > 0: 
    print("The numbers are greater than 0") 
  
if a > 0 and b > 0 or c > 0: 
    print("The numbers are greater than 0") 
else: 
    print("Atleast one number is not greater than 0")

The numbers are greater than 0
The numbers are greater than 0

# Special operators

* Membership operators

In [ ]:
# Examples of Membership operator 
x = 'hello world'
y = [1,2,3,4]


print('w' in x) 

print('ee' not in x) 

print('ll' not in x) 

print(3 in y) 

print('b' in y)

True
True
False
True
False

# Any & All in Python

In [ ]:
# Any : Returns true if any of the items is True 

# Since all are false, false is returned 
print (any([not True, False, 7>10]))

# Here the method will short-circuit at the 
# second item (True) and will return True. 
print (any([False, True, 8<2]))

False
True

In [ ]:
# All : Returns true if all of the items are True
print (all([not True, False, 7>10]))
print (all([not False, True, 8>=2]))

False
True