## Add Two Numbers

write a function to adds two numbers and print the output

## Square root 

write a function to calculate the square root of a number and print / return the output

## The area of triangle

write a function to calculate the area of triangle and print / return the output

## Solving Quadratic Equation

write a function to solve the Quadratic Equation and print / return the output

* the Quadratic Equation : d = (b**2) - (4*a*c), you basically fsolve for (d)

* you can use library cmath using this command
* -> import cmath

## Convert Kilometers to Miles and vice versa

write a function to Convert Kilometers to Miles vice versa and print / return the output

## Convert Celsius To Fahrenheit

write a function to Convert Celsius To Fahrenheit and print / return the output

## Check if a Number is Positive, Negative or 0 using input method

# IF STATMENT

## Odd or Even

us if statement to determine if the input number is odd or even

## Check Leap Year

A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400

* check if the year is divisible by 4 
* check if the year is a century year, then , check if the year is divisible by 400

## The Largest Number

check the largest number between three different numbers

## Check Prime Number
A positive integer greater than 1 which has no other factors except 1 and the number itself is called a prime number. 2, 3, 5, 7 etc. are prime numbers as they do not have any other factors. But 6 is not prime (it is composite) since, 2 x 3 = 6.

## Print all Prime Numbers in an Interval

## Find the Factorial of a Number

The factorial of a number is the product of all the integers from 1 to that number.

For example, the factorial of 6 is 1*2*3*4*5*6 = 720. Factorial is not defined for negative numbers, and the factorial of zero is one, 0! = 1.

## Display the multiplication Table of a given number

## Check Armstrong Number

A positive integer is called an Armstrong number of order n if

abcd... = an + bn + cn + dn + ... /n

153 = 1*1*1 + 5*5*5 + 3*3*3  // 153 is an Armstrong number.

## Find the Sum of Natural Numbers